#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_glv80.h"

#include "defines.h"
#include "keypos_groups_glv80.h"
#include "custom_behaviors.dtsi"
#include "behaviors_glv80.dtsi"
#include "key_codes.h"
#include "key_clusters.h"
#include "mouse.dtsi"
#include "combos.dtsi"

/* Thumb Clusters */

// 👍 Default 
#define LT_DEF_U STATUS ___ APPLE_FN
#define RT_DEF_U STATUS ___ PTR_ENT

#define LT_DEF_D SPC_NUM  CMD_TAB  ESC_PTR 
#define RT_DEF_D PTR_ENT  NAV_KEY  SFT_BSP 

// 👍 NUM
#define LT_NUM_D &kp DOT ___ ___
#define RT_NUM_D &kp DOT ___ ___

// 👍 NAV
#define LT_NAV_D &kp TAB &kp SPACE ___
#define RT_NAV_D ___ APPLE_FN DICTATION

// 👍 PTR
#define LT_PTR_D &kp TAB &kp SPACE &kp ESC
#define RT_PTR_D U_MS_B3 U_MS_B1 U_MS_B2

/* Layers */

ZMK_LAYER(def_layer, 
               L_FUN                       R_FUN
    &kp EQUAL  L_NUM                       R_NUM      &kp MINUS
    &kp TAB    L_DEF_U                     R_DEF_U    BSL_HYP
    ESC_MEH    L_DEF_H                     R_DEF_H    SQT_MEH
    &kp GRAVE  L_DEF_D   LT_DEF_U RT_DEF_U R_DEF_D    &kp PG_UP
    MO_SYS     L_DEF_BOT LT_DEF_D RT_DEF_D R_DEF_BOT  &kp PG_DN    
)

ZMK_LAYER(gal_layer, 
               L_FUN                       R_FUN
    &kp EQUAL  L_NUM                       R_NUM      &kp MINUS
    &kp TAB    L_GAL_U                     R_GAL_U    BSL_HYP
    ESC_MEH    L_GAL_H                     R_GAL_H    SLS_MEH
    &kp GRAVE  L_GAL_D   LT_DEF_U RT_DEF_U R_GAL_D    &kp PG_UP
    MO_SYS     L_DEF_BOT LT_DEF_D RT_DEF_D R_DEF_BOT  &kp PG_DN    
)

ZMK_LAYER(num_layer, 
         L_FUN                       R_FUN
    ___  L_NUM                       R_NUM      ___
    ___  L_NUM_U                     R_NUM_U    ___
    ___  L_NUM_H                     R_NUM_H    ___
    ___  L_NUM_D   LT_DEF_U RT_DEF_U R_NUM_D    ___
    ___  L_DEF_BOT LT_NUM_D RT_NUM_D R_DEF_BOT  ___
)

ZMK_LAYER(nav_layer, 
    &kp F11 &kp F12  TRAN_3 TRAN_3   &kp C_BRI_DN &kp C_BRI_UP
    ___  L_NUM                       R_NUM      ___
    ___  L_NAV_U                     R_NAV_U    ___
    ___  L_NAV_H                     R_NAV_H    ___
    ___  L_NAV_D   LT_DEF_U RT_DEF_U R_NAV_D    ___
    ___  L_DEF_BOT LT_NAV_D RT_NAV_D R_DEF_BOT  ___
)

ZMK_LAYER(ptr_layer, 
         L_FUN                       R_FUN
    ___  L_NUM                       R_NUM      EXIT
    ___  L_PTR_U                     R_PTR_U    EXIT
    ___  L_PTR_H                     R_PTR_H    &tog GAL
    ___  L_PTR_D   LT_DEF_U RT_DEF_U R_PTR_D    EXIT
    ___  L_DEF_BOT LT_PTR_D RT_PTR_D R_DEF_BOT  EXIT
)

ZMK_LAYER(sys_layer, 
    &bt BT_CLR  NONE_4              NONE_4 &bt BT_CLR_ALL
    NONE        NONE_5              NONE_5 NONE
    &bootloader SYS_RGB_U           NONE_5 &bootloader
    &sys_reset  SYS_RGB_D           NONE_5 &sys_reset
    NONE        NONE_5    SYS_BT_U  NONE_5 NONE
    NONE        NONE_5    SYS_BT_D  NONE_5 NONE
)
